:root {
  --selection-background: #ccc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--selection-background);
}

::selection {
  background: var(--selection-background);
}
